<!doctype html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
 integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
 <title><%= name_food %></title>
</head>
<body>
    <a href="/" type="button" class="btn btn-primary">Go to the Home Page</a>
    <div class="alert alert-primary" role="alert">
        This is the About Page for <%= name_food %>
        </div>       
</body>
</html>
