<!DOCTYPE html>
<html>
  <head>
    <title><%= operation %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Width: <%= first_val %></h1>
    <h1>Length: <%= second_val %></h1>
    <h1>Area: <%= final_result %></h1>
  </body>
</html>

