<!DOCTYPE html>
<html>
  <head>
    <title><%= word %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= word %></h1>
    <p>Welcome to <%= word %></p>
  </body>
</html>
